 /* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    #bannerImage{
        height: 600px;
        object-fit: cover;
    }    
    
    #aboutBannerImage{
        height: 40vh;
        object-fit: cover;
    }

    .line2::before{
        left: 50px;
    }

    .list-inline, #copyright-text{
        font-size: 14px;
    }

        
    #who-are-we #first-image{
        border-radius: 0 0 0 0;
        display: none;
    }  

    #who-are-we #second-image{
        display: none;
    }

    #who-are-we #third-div{
        border-radius: 0 0 0 0;
    }
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }